        

.team-socialicon {
    display: flex;
    align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    width: 232px;
        height: 40px;
        gap: 24px;
        cursor: pointer;
}   

.social-item {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.footer .container {
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.social-link {
    color: #4d5ae5;
}