.review-modal {
    width: 408px;
        height: 582px;
        padding: 72px 24px 24px;
    
        border-radius: 4px;
        background-color: #fcfcfc;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    }

.review-modal::backdrop {
background-color: rgba(46, 47, 66, 0.4);
}