.features .container {
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
  .features-list {
display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    flex-basis: auto;
    gap: 72px;
  }
.features-item {
    display: flex;
 
    flex-direction: column;
    gap: 8px;

}



.features-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
}

   .features-desc {
       font-family: "Roboto", sans-serif;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;

       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
   }


    @media only screen and (min-width: 768px) {

.features {
        background-color: #fff;
            width: 100%;
           min-height: 504px;
            max-width: 1440px;
            margin: auto;
    }

    .features .container {
display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
min-width: 768px;
            height: 312px;
            max-width: 1158px;

            margin-top: 0px;
            margin-bottom: 0px;
    }

    .features-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 72px 24px;
        width: 100%;
            max-height: 312px;
    }

    .features-ill {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
    }

    .features-item {
        width: 356px;
            max-height: 120px;
            min-width: 356px;
            width: calc((100% - 24px) / 2);
            margin-bottom: 0px;
    }

    .features-caption {
        display: flex;
        justify-content: flex-start;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;

        text-align: left;
    }

    .features-desc {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
}

@media only screen and (min-width:1158px) {

    .features {
            width: 100%;
            height: 464px;
            margin: auto;
            
        }

    .features .container {
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
    
                height: 224px;
                max-width: 1158px;
                gap: 72px;

                margin-top: 0px;
                    margin-bottom: 0px;
                    
    }
    

    .features-list {
        display: flex;
            align-items: center;
            justify-content: center;
        flex-direction: row;
            flex-wrap: nowrap;
            gap: 48px 24px;
    }

    .features-item {
        width: 264px;
        min-width: 264px;
        margin-bottom: 0px;
    }

    .features-caption {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        width: 264px;
    }

    .features-desc {
        font-weight: 400;
                width: 264px;
    }

    .features-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
    }
}