

.header {
    width: 100%;
   margin: auto;
}

@media only screen and (min-width: 768px) {
    .header {
        padding: 0px 16px;
    }
}


@media only screen and (min-width: 1158px) {
.header {
    padding: 0px 15px;
  }
}

.header > .container {
    display: flex;
        width: 100%;
}

@media only screen and (max-width: 767.98px) {
    .header-nav {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .header-nav {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-left: 120px;
    margin-right: auto;    }
}

@media only screen and (min-width: 1158px) {
    .header-nav {
        margin-left: 76px;
    }
}

 @media only screen and (min-width: 1158px) {
.header-nav-list {
    display: flex;
        align-items: center;
        gap: 149px;
  }
}

 @media only screen and (min-width: 768px) {
     .header-nav-list {
         display: flex;
         align-items: center;
         gap: 24px;
     }
 }

 .header-nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;

    display: block;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4,
                0,
                0.2,
                1);
 }

 .header-nav-link.current,
 .header-nav-link:hover,
 .header-nav-link:focus {
     color: #404bbf;
 }

 .header-nav-link:hover {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #404bbf;
 }

 .header-nav-link:active {
     font-weight: 500;
     color: #404bbf;
 }

 .header-nav-link.current {
     position: relative;
 }

 .header-nav-link.current::after {

     position: absolute;
     left: 0px;
     bottom: 0px;
     content: "";
     display: block;
     width: 100%;
     height: 4px;
     border-radius: 2px;

     background-color: #404BBF;
 }



 .logo {
     display: flex;
     align-items: center;
     gap: 0px;
     color: #2e2f42;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.33;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     padding-top: 16px;
     padding-bottom: 16px;
 }

 .top-logo {

     color: #4d5ae5;
 }
 



@media only screen and (min-width: 768px) {

.logo {
    padding-top: 24px;
    padding-bottom: 24px;
}

    .contacts-header {
            display: flex;
            flex-direction: column;
                gap: 12px;
        }
.contact-item:hover {
    color: #404bbf;
}

.contact-tel,
.contact-mail {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
}

.contact-tel:hover,
.contact-mail:hover {
    color: #404bbf;
}

.contact-mail:focus,
.contact-tel:focus {
    color: #404bbf;
}

}

@media only screen and (min-width: 1158px) {

.contacts-header {
        flex-direction: row;
        gap: 40px;

}

.contact-tel,
.contact-mail {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
        letter-spacing: 0.02em;
 
} 
}

@media only screen and (max-width: 767.98px) {

.menu-btn {
    display: flex;

        fill: #2e2f42;
padding: 5px 4px;
margin-left: auto;

border: none;
background-color: transparent;
}
.contacts-header {
       display: none;
}
}
.menu-btn:hover, .menu-btn:focus {}


.menu-btn-icon {}


@media only screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }
}